/*!? Reset default settings */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    scroll-behavior: smooth;
}

a{
    color: white;
}

body{
    position: relative;
    font-family: 'Encode Sans SC', sans-serif;
    background-color: black;
    color: rgba(255, 255, 255, 0.9);
}

.wrapper{
    width: 900px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container{
    flex: 1 0 auto;
    position: relative;
}

.active{
    overflow: hidden;
}

/*! Header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 2.5px solid rgba(255, 255, 255, 0.9);
}

.header__title{
    font-size: 24px;
}

.header__photo{
    transition: all ease-in-out 0.1s;
    width: 20%;
}

.header__photo:hover{
    transition: background ease-in-out 0.1s;
    background: white;
}

.header__contact-list {
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*! Navigation */

.hamburger-menu-container{
    display: none;
}

.navigation-desktop{
    background-color: black;
    position: sticky;
    top: 0;
    margin-bottom: 30px;
}

.navigation-mobile{
    display: none;
}

.navigation_disabled{
    left: 100%;
}

.navigation_enabled{
    left: 0%;
}

.navigation__list {
    display: flex;
}

.navigation__list>li {
    text-align: center;
    flex: 1 0 auto;
    align-items: stretch;
    justify-content: space-between;
}

.navigation__list>li:hover {
    transition: all ease-in-out 0.3s;
    background-color: rgba(255, 255, 255, 0.9);
}

.navigation__list a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navigation__list a:hover{
    transition: all ease-in-out 0.3s;
    color: black;
}

.navigation-contacts{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*! Main */

.main{
    line-height: 28px;
}

main p{
    text-align: justify;
}

section{
    margin-bottom: 30px;
    padding: 0 10px;
    border-radius: 3px;
}

.section-title{
    margin-bottom: 20px;
    border-bottom: 8px ridge #000;
}

.main__background_white{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.main__skills>ul{
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__skills li{
    flex: 0 0 25%;
    text-align: center;
    margin-bottom: 10px;
}

pre{
    border-left: 5px solid rgba(0, 0, 0, 0.596);
    font-size: 15px;
    line-height: 1.2;
    overflow: scroll;
}

.main__experience-examples {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main__experience-examples__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    transition: all ease-in-out 0.3s;
}

.main__experience-examples__item:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    transition: all ease-in-out 0.3s;
}

.main__experience-examples__item h6 {
    font-size: 16px;
}

.main__experience-examples__item img {
    /* Change width after fixing other parts */
    width: 100%;
}

.main__experience-examples__item a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__experience-examples__technologies {
    width: 100%;
    display: flex;
    font-size: 16px;
}

.main__experience-examples__technologies p {
    background-color: rgba(15, 163, 168, 0.9);
    border-radius: 0 5px 0 5px;
    padding: 4px;
    margin-right: 10px;
}

/*! Footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    font-size: 18px;
    padding: 0 10px
}

footer > *{
    font-weight: bold;
    color: black;
}

footer:first-child{
    margin: 0;
}

footer img{
    width: 75px;
}


@media (max-width: 1000px){
    .wrapper{
        width: 600px;
    }

    .header__title{
        font-size: 14px;
    }

    .header__photo{
        width: 15%;
    }

    .header__contact-list {
        line-height: 16px;
        font-size: 12px;
    }

    pre{
        font-size: 12px;
    }

}

@media (max-width: 700px){
    .wrapper{
        width: 450px;
    }

    .header{
        z-index: 99;
        position: sticky;
        top: 0;
        background-color: black;
        border-bottom: none;
    }

    .header__title{
        font-size: 14px;
    }

    .header__photo{
        width: 15%;
    }

    .header__contact-list {
        display: none;
    }

    .hamburger-menu-container{
        z-index: 99;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 36px;
    }

    .hamburger-menu{
        background-color: white;
        width: 48px;
        height: 6px;
        transition: all ease-in-out 0.3s;
    }

    .hamburger-menu_active{
        background-color: transparent;
        transition: all ease-in-out 0.3s;
    }

    .hamburger-menu::before{
        position: absolute;
        transform: rotate(0);
        content: '';
        top: 0;
        left: 0;
        background-color: white;
        width: 48px;
        height: 6px;
        transition: transform 0.15s, top 0.15s ease-in-out 0.15s;
        }

    .hamburger-menu_active::before{
        top: 15px;
        transform: rotate(45deg);
        transition: top 0.15s ease-in-out, transform 0.15s ease-in-out 0.15s;
    }

    .hamburger-menu::after{
        position: absolute;
        transform: rotate(0);
        content: '';
        bottom: 0;
        left: 0;
        background-color: white;
        width: 48px;
        height: 6px;
        transition: transform 0.15s, bottom 0.15s ease-in-out 0.15s;
    }

    .hamburger-menu_active::after{
        bottom: 15px;
        transform: rotate(-45deg);
        transition: bottom 0.15s ease-in-out, transform 0.15s ease-in-out 0.15s;
    }

    .navigation-desktop{
        display: none;
    }

    .navigation-mobile{
        display: block;
        position: fixed;
        z-index: 15;
        height: 100%;
        width: 100%;
        background-color: black;
        transition: all ease-in-out 0.5s;
    }

    .navigation__list {
        flex-direction: column;
    }

    .main__skills>ul{
        font-size: 20px;
    }

    .main__experience-examples__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        font-size: 12px;
    }

    .main__experience-examples__item h6 {
        font-size: 12px;
    }


    .main__experience-examples {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 550px){
    .wrapper{
        width: 310px;
    }

    main{
        font-size: 14px;
    }

    .header__title{
        font-size: 10px;
    }

    .main__skills>ul{
        font-size: 14px;
    }

    footer{
        font-size: 12px;
    }
}
